<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Adventurous Burgers</title>
      <meta charset="UTF-8"/>
      <link rel="stylesheet" type="text/css" href="css/reset.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <script type="text/javascript" src="js/menu.js"></script>
      <script src="js/js_script.js" defer></script>
      <script src="https://vuejs.org/js/vue.js"></script>
      <script src="js/vue_script.js" defer></script>
    </head>
    <body>
      <main>
        <section class="header">
          <img src="https://ak7.picdn.net/shutterstock/videos/24512267/thumb/6.jpg?i10c=img.resize(height:160)" alt="Span" title="Image stolen online">
          <h1 id="title">Adventurous Burgers</h1>
          <ul id="tabsheader">
            <li><a href="broken link">Order</a></li>
            <li><a href="mission.html">Our Mission</a></li>
            <li><a href="about.html">About us</a></li>
          </ul>
        </section>
        <section id="selectburger">
          <h2 id="sbheader">Pick an adventure:</h2>
          <div class="wrapper">
            <div class="box a">
            </div>
            <div class="box b">

            </div>
            <div class="box c">

            </div>
            <burgerbox v-for="burger in burgers"
                       v-bind:key="burger.id"
                       v-bind:burger="burger">
            </burgerbox>
          </div>
        </section>

        <section id="contact">
          <h2>Order information:</h2>
          <div>This is where you provide necessary information for us to complete your order.</div>
          <h3>Delivery information</h3>
          <form id="orderinfo">
            <p>
              <label for="fullname">Full name</label><br>
              <input type="text" id="fullname" name="name" required="required" placeholder="First and last name">
            </p>
            <p>
              <label for="email">Email address</label><br>
              <input type="email" id="email" name="em" required="required" placehodler="your@email.address.com">
            </p>
            <p>
              <label for="street">Street</label><br>
              <input type="text" id="street" name="st" required="required" placeholder="Street">
            </p>
            <p>
              <label for="housenumber">Address</label><br>
              <input type="text" id="housenumber" name="hn" required="required" placeholder="House number">
            </p>
            <p>
              <label for="payment">Payment method</label><br>
              <select id="payment" name="pay">
                <option>Mastercard</option>
                <option>Visa</option>
                <option>Swish</option>
              </select>
            </p>
            <p>
              <input type="radio" name="gender" value="Female">Female<br>
              <input type="radio" name="gender" value="Male">Male<br>
              <input type="radio" name="gender" value="No gender">No gender<br>
              <input type="radio" name="gender" value="Unspecified">Do not wish to specify
            </p>
          </form>
          <div id="placeorder">
            <button id="myButtonID" v-on:click="markDone()">Submit order</button>
            <div v-if="ok == `true`">{{orderconf}}<br>{{cred}}{{info}}</div>
            <div v-if="ok == `sortof`">{{info}}</div>
          </div>
        </section>
        <section id="bottomheader">
          <div>
            <p>Continue the adventure on our <a href="https://www.facebook.com/"><img src="http://www.opptrends.com/wp-content/uploads/2013/10/Facebook-e1397105127200.png"> facebook page</a>!
          </div>
        </section>
      </main>
    </body>
</html>
